region: eu-west-2
subnet_id: subnet-12345678
efs_ip: 172.12.34.255
sagemaker_studio_domain_id: d-abcdefghijkl
security_group_ids:
  - sg-0123456789abcdef0
iam_instance_profile: roleWithAmazonSSMManagedInstanceCore
amis:
  - name: "Ubuntu 22.04"
    id: "ami-09627c82937ccdd6d"
instance_types:
  - t2.micro: 0.0116
  - t3.medium: 0.418
max_volume_size: 100
